<ul class="sg-colors">
		<li>
		<span class="sg-swatch" style="background: var(--interface-1);"></span>
		<span class="sg-label">
			$interface-1 <br />
			#FF6565
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: var(--interface-2);"></span>
		<span class="sg-label">
			$interface-2 <br />
			#D27FFF
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: var(--interface-3);"></span>
		<span class="sg-label">
			$interface-3 <br />
			#FFFFFF
		</span>
	</li>
</ul>
