<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: var(--declinaison-1) ;"></span>
		<span class="sg-label">
            $declinaison-1 <br />
            #FF6565
        </span>
	</li>
	<li>
		<span class="sg-swatch" style="background: var(--declinaison-2);"></span>
		<span class="sg-label">
			$declinaison-2 <br />
			#7F3232
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: var(--declinaison-3);"></span>
		<span class="sg-label">
			$declinaison-3 <br />
			#E55B5B
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: var(--declinaison-4);"></span>
		<span class="sg-label">
			$declinaison-4 <br />
			#D27FFF
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: var(--declinaison-5);"></span>
		<span class="sg-label">
			$declinaison-5 <br />
			#693F7F
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: var(--declinaison-6);"></span>
		<span class="sg-label">
			$declinaison-6 <br />
			#BD72E5
		</span>
	</li>
</ul>
