<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: var(--interaction-valide);"></span>
		<span class="sg-label">
            $interaction-valide <br />
            #2DFF00
        </span>
	</li>
	<li>
		<span class="sg-swatch" style="background: var(--interaction-erreur);"></span>
		<span class="sg-label">
			$interaction-erreur <br />
			#FF0C00
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: var(--interaction-desactive);"></span>
		<span class="sg-label">
			$interaction-désactivé <br />
			#D2AFFF
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: var(--interaction-default);"></span>
		<span class="sg-label">
			$interaction-défault <br />
			#D27FFF
		</span>
	</li>
</ul>