<div>Primary font: "Noticia Text", "Arial", sans-serif</div>
<div><em>Primary font italic: "Noticia Text", "Arial", sans-serif</em></div>
<div><strong>Primary font bold: "Noticia Text", "Arial", sans-serif</strong></div>
<div class="font-secondary">Secondary font: "Quicksand", Times, "Times New Roman", serif;</div>
<div class="font-secondary"><em>Secondary font italic: "Quicksand", Times, "Times New Roman", serif;</em></div>
<div class="font-secondary"><strong>Secondary font bold; "Quicksand", Times, "Times New Roman", serif;</strong></div>