<h1>H1 (46px) : Portez ce whisky au vieux juge blond qui fume</h1>
<h2>H2 (36px) : Portez ce whisky au vieux juge blond qui fume</h2>
<h3>H3 (28px) : Portez ce whisky au vieux juge blond qui fume</h3>
<h4>H4 (22px) : Portez ce whisky au vieux juge blond qui fume</h4>
<h5>H5 (18px) : Portez ce whisky au vieux juge blond qui fume</h5>
<h6>H6 (16px) : Portez ce whisky au vieux juge blond qui fume</h6>
<p>P (12px) : Portez ce whisky au vieux juge blond qui fume</p>