<section class="c-section">
	{{> atoms-title }}

	<div class="c-section-div">
		<h2 class="c-section__title">Un jour, on ira faire le tour du monde.</h2>

		{{> molecules-block-post}}
		{{> molecules-block-review}}
	</div>
</section><!--end section-->
