<nav class="c-footer-nav">
	{{# footerNavSection1 }}
		<ul class="c-footer-nav__list">
			<li class="c-footer-nav__item"><a href="{{ url }}" class="c-footer-nav__link">{{ label }}</a></li>
		</ul><!--end c-footer-nav__list-->
	{{/ footerNavSection1 }}
</nav><!--end c-footer-nav-->

<nav class="c-footer-nav">
	{{# footerNavSection2 }}
		<ul class="c-footer-nav__list">
			<li class="c-footer-nav__item"><a href="{{ url }}" class="c-footer-nav__link">{{ label }}</a></li>
		</ul><!--end c-footer-nav__list-->
	{{/ footerNavSection2 }}
</nav><!--end c-footer-nav-->

<nav class="c-footer-nav">
	{{# footerNavSection3 }}
		<ul class="c-footer-nav__list">
			<li class="c-footer-nav__item"><a href="{{ url }}" class="c-footer-nav__link">{{ label }}</a></li>
		</ul><!--end c-footer-nav__list-->
	{{/ footerNavSection3 }}
</nav><!--end c-footer-nav-->

<nav class="c-footer-nav">
	<ul class="c-footer-nav__list">
		<li class="c-footer-nav__item"><a href="{{ url }}" class="c-footer-nav__link"><i class="fab fa-facebook-f"></i></a></li>
		<li class="c-footer-nav__item"><a href="{{ url }}" class="c-footer-nav__link"><i class="fab fa-twitter"></i></a></li>
	</ul><!--end c-footer-nav__list-->
</nav><!--end c-footer-nav-->