<div>
	<div class="c-block-review">
		<h2 class="c-block-review__headline">Titre du témoignage</h2>
		<span class="c-block-review__datetime">23/10/18</span>
		<p class="c-block-review__excerpt">{{ excerpt.medium }}</p>
		<a class="c-block-review__more" href="#">En savoir plus...</a>
	</div><!-- end c-block-review -->
	<hr>
	<div class="c-block-review">
		<h2 class="c-block-review__headline">Titre du témoignage</h2>
		<span class="c-block-review__datetime">23/10/18</span>
		<p class="c-block-review__excerpt">{{ excerpt.medium }}</p>
		<a class="c-block-review__more" href="#">En savoir plus...</a>
	</div><!-- end c-block-review -->
	<hr>
	<div class="c-block-review">
		<h2 class="c-block-review__headline">Titre du témoignage</h2>
		<span class="c-block-review__datetime">23/10/18</span>
		<p class="c-block-review__excerpt">{{ excerpt.medium }}</p>
		<a class="c-block-review__more" href="#">En savoir plus...</a>
	</div>
	{{# textButton }}
		{{> atoms-button }}
	{{/ textButton }}
</div><!-- end c-block-review -->