<label class="container">One
  <input type="radio" name="radio" checked>
  <span class="radiobtn"></span>
</label>
<label class="container">Two
  <input type="radio" name="radio">
  <span class="radiobtn"></span>
</label>
<label class="container disabled">Disabled
  <input type="radio" name="radio" disabled>
  <span class="radiobtn"></span>
</label>