<label class="container">One <input type="checkbox" checked="checked"> <span class="checkmark"></span> </label> <label class="container disabled">Two <input type="checkbox" disabled> <span class="checkmark"></span> </label>